.pagination{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin:10px;
    li{
        height: 30px;
        width: 30px;
        border: 1px solid gray;
        text-align: center;
        cursor: pointer;
    }
    .active{
        background-color: black;
        color: white;
    }
    
}